name: Build and Release

on:
  push:
    branches:
      - main  # replace with your default branch if not 'main'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Dependencies
      run: npm install

    - name: Build and Archive
      run: node createZip.js

    - name: Get version
      id: package
      run: |
        VERSION=$(node -pe "require('./manifest.json').version")
        echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      
    - name: Ensure Tag Exists
      id: create_tag
      uses: actions/github-script@v7
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const version = "${{ steps.package.outputs.version }}";
          const tagName = `v${version}`;
          const { owner, repo } = context.repo;
          const getRef = `tags/${tagName}`;

          core.setOutput('tag_name', tagName);
          console.log(`Checking if tag "${tagName}" already exists...`);

          try {
            await github.rest.git.getRef({ owner, repo, ref: getRef });
            console.log(`Tag "${tagName}" already exists`);
          } catch (error) {
            if (error.status === 404) {
              console.log(`Tag "${tagName}" does not exist, creating it...`);
              await github.rest.git.createRef({
                owner,
                repo,
                ref: `refs/tags/${tagName}`,
                sha: context.sha,
              });
            } else {
              throw error;
            }
          }

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.create_tag.outputs.tag_name }}
        release_name: Release ${{steps.package.outputs.version}}
        draft: false
        prerelease: false
        files: ./better-sensibull-v${{ steps.package.outputs.version }}.zip
